"*":
  "exception-reporting":
    "userId": "7bd23bde-1a99-670e-d321-dfb1dc0ee568"
  "welcome":
    "showOnStartup": false
  "editor":
    "fontFamily": "SF Mono, Consolas, Monaco, Courier, monospace;"
    "fontSize": 14
    "lineHeight": 1.5
    "showInvisibles": true
    "showIndentGuide": true
    "tabLength": 4
  "core":
    "telemetryConsent": "limited"
    "themes": [
      "one-dark-ui"
      "one-dark-syntax"
    ]
